body{
    background-color: #fabada;
    .entorno{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 150px;
        background-color: #acab;
        .composicion{
            width: 150px;
            height: 50px;
            background-color: #fff;
            &:hover{
                background-color: orange;
                transition: 0.2s;
            }
            &.cuerpo{
                background-color: green;
                &:hover{
                    background-color: yellowgreen;
                    transition: 0.2s;
                }
            }
        }
    }
    .division{
        margin-top:25px;
        width: 250px;
        height: 25px;
        background-color: yellow;
    }

}

